body{
    font-family: Arial, Helvetica, sans-serif;
    cursor: auto;
    margin: 0;
    padding: 0;
    position: relative;
    color:#3C3C43;
}

.announcement{
    background-color: #3C3C43;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;    
    white-space: nowrap;
    font-weight: 400;
    font-size: 0.8em;
    padding-top: 5px;
}
a.announcement{
    color: white;
    display: inline-block;
    text-align: center;
    margin-left: 0px;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sale{
    background-color: #d6ad7f;
    display: flex;
    justify-content: center;
    size: 20em;
}

.sale img{
    width: auto;
    height: 25em;
}

.highlights{
    background-color: #fcf5ec;
    display: flex;
    justify-content: flex-start;
}

.essentials{
    display: flex;
}

.explore{
    display: flex;
    justify-content: flex-start;
}

.furniture{
    display: flex;
    justify-content: flex-start;
}

.seasonal{
    background-color: #fcf5ec;
    display: flex;
    justify-content: flex-start;
}

.stories{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.stories img{
    width: 40%;
    height: auto;
}

.footer{
    background-color: #3C3C43;
    color: white;
    display: flex;
    justify-content: center;
}

.footer img{
    width: 4%;
    height: auto;
}