body{
    font-family: Arial, Helvetica, sans-serif;
    cursor: auto;
    margin: 0;
    padding: 0;
    position: relative;
    color:#3C3C43;
}

.announcement{
    background-color: #3C3C43;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;    
    white-space: nowrap;
    font-weight: 400;
    font-size: 0.8em;
    padding-top: 5px;
}
.announcement a{
    color: white;
    display: inline-block;
    text-align: center;
    margin-left: 0px;
}

/* .header{
    position: fixed;
    background-color: white;
    display: block;
    display: flex;
    flex-direction: column;
} */

.top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: #3C3C43;
}

.search{
    display: block;
    position: relative;
    box-sizing: border-box;
    padding-left: 1.5em;
    padding-right: 1.5em;
    align-items: center;
    border-bottom: 1px solid rgb(197, 193, 193);
}

.search input[type=text]{
    border: none;
    float: left;
    font-size: 1em;
}

.logo{
    padding: 0 2em;
}
.logo img{
    width: auto;
    height: 2em;
}

.bottom{
    font-size: 1rem;
    line-height: 150%;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.bottom a{
    color: #3C3C43;
    text-decoration: none;
}

.sale{
    background-color: #d6ad7f;
    display: flex;
    justify-content: space-evenly;
    padding-top: 8em;
    padding-bottom: 8em;
    color: #7f0019;
}

.sale_text{
    display: block;
    padding-right: 4em;
    padding-left: 3em;
}

.sale_text h3 {
    margin: 0;
    font-size: 3em;
}

.sale_text p {
    margin: 0.1em 0;
    margin-top: 3em;
}

.sale_text h4 {
    margin: 0.15em 0;
    font-size: 2.3em;
}

.sale img{
    width: auto;
    height: 25em;
    padding: 0.3em;
}

.highlights{
    background-color: #fbf7f2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3em;
    font-size: 18px;
}

.highlights h5{
    margin: 0;
    padding: 0.5em;
}

.highlights_scroll{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.highlights img{
    width: 20em;
    height: 20em;
    padding: 0.3em;
}

.cropped{
    object-fit: cover;
}

.essentials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
}

.essentials img{
    width: 85em;
    height: 35em;
    object-fit: cover;
}

.explore{
    display: flex;
    flex-direction: column;
    margin: 5em;
}

.explore h5 {
    align-self: flex-start;  
}

.explore > div,
.explore img {
    align-self: center; 
}

.explore img{
    width: 27em;
    height: auto;
    padding: 0.1em;
}

.furniture{
    display: flex;
    flex-direction: column;
    margin: 5em;
}

.furniture h5 {
    align-self: flex-start;  
}

.furniture_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;  
}

.furniture_header h5 {
    margin: 0;
}

.furniture_img {
    display: flex;
    flex-direction: row;
    align-self: center; 
}

.furniture img{
    width: auto;
    height: 25em;
}

.seasonal{
    background-color: #fbf7f2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 18px;
}

.seasonal img{
    width: auto;
    height: 20em;
    padding: 0.3em;
}

.seasonal h5{
    margin: 0;
    padding: 0.5em;
}

.stories{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 6em;
}

.stories img{
    object-fit: cover;
    width: 20em;
    height: 25em;
}

.footer{
    background-color: #3C3C43;
    color: white;
    display: flex;
    justify-content: center;
}

.footer img{
    width: 4%;
    height: auto;
}
