html, body {
    width: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    cursor: auto;
    margin: 0;
    padding: 0;
    position: relative;
    color:#3C3C43;
}

a{
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: #3C3C43;
}

a img {
    display: block; 
}

a img::after {
    display: none;  
}

a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #7f0019;
    transition: width 0.3s ease;
}

a:hover::after {
    width: 100%;
}

.sale a::after,
.explore a::after {
    display: none;  
}

.sale_link,
.explore_link {
    position: absolute;
}

.sale_link::after,
.explore_link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #7f0019;
    transition: width 0.3s ease;
}

a:hover .sale_link::after,
a:hover .explore_link::after {
    width: 100%;
}


.highlights h5,
.seasonal h5 {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    padding-bottom: 0.8em;
}

.highlights h5::after,
.seasonal h5::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0.3em;  
    left: 0.5em;  
    right: 0.5em;   
    background-color: #7f0019;
    transition: width 0.3s ease;
}

.highlights a:hover h5::after,
.seasonal a:hover h5::after {
    width: calc(100% - 1em); 
}

.announcement{
    background-color: #3C3C43;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;    
    white-space: nowrap;
    font-weight: 400;
    font-size: 0.9em;
    padding-top: 5px;
}
.announcement a{
    color: white;
    display: inline-block;
    text-align: center;
    margin-left: 0px;
}

.header{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.sticky_nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.3));
}

.top{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    color: #3C3C43;
}

.search{
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid rgb(197, 193, 193);
}

.search img{
    width: 1.2em;
    height: auto;
    padding-right: 0.8em;
    padding-bottom: 0.2em;
}

.search input[type=text]{
    border: none;
    font-size: 1em;
    outline: none;
}

.logo{
    padding: 0 2em;
}

.logo img{
    width: auto;
    height: 2em;
}

.icons img{
    width: 1.8rem;
}

.icons a:hover{
    text-decoration: none;
    opacity: 60%;
}

.icons a::after {
    display: none; 
}

.bottom{
    font-size: 1rem;
    line-height: 150%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
}

.bottom a{
    color: #3C3C43;
    text-decoration: none;
}

.sale{
    background-color: #d6ad7f;
    display: flex;
    justify-content: space-evenly;
    padding-top: 8em;
    padding-bottom: 8em;
    color: #7f0019;
}

.sale_text{
    display: block;
    padding-right: 4em;
    padding-left: 3em;
}

.sale_text h3 {
    margin: 0;
    font-size: 3em;
}

.sale_text p {
    margin: 0.1em 0;
    margin-top: 3em;
}

.sale_text h4 {
    margin: 0.15em 0;
    font-size: 2.3em;
}

.sale img{
    width: auto;
    height: 25em;
    padding: 0.3em;
}

.highlights{
    background-color: #fbf7f2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3em;
    padding-right: 0;
    font-size: 18px;
}

.highlights_scroll{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
}

.highlights img{
    width: 20em;
    height: 20em;
    padding: 0.3em;
}

.cropped{
    object-fit: cover;
}

.essentials{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
}

.essentials-container {
    position: relative;  
    display: inline-block;
}

.essentials img{
    width: 82.5em;
    height: 35em;
    object-fit: cover;
    display: block;  
}

.essentials-link {
    position: absolute;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    color: white;
    text-decoration: none;
    z-index: 10;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
    display: block;
}

.title {
    top: 280px;
    left: 280px;
    font-size: 2.8em;
    font-weight: bold;
}

.women {
    top: 58%;
    left: 10.8%;
    transform: translate(-50%, -50%);
    font-size: 1.1em;
    font-weight: bold;
}

.men {
    top: 58%;
    left: 17.8%;
    transform: translate(-50%, -50%);
    font-size: 1.1em;
    font-weight: bold;
}

.essentials a::after{
    display: none;
}

.explore{
    display: flex;
    flex-direction: column;
    margin: 5em;
}

.explore h5 {
    align-self: flex-start;  
}

.explore > div,
.explore img {
    align-self: center; 
}

.explore img{
    width: 27em;
    height: auto;
    padding: 0.1em;
}

.explore_link {
    bottom: 20px;  
    left: 20px;    
    top: auto;     
    transform: none;  
    font-size: 1.1em;
    font-weight: bold;
    filter: none;
}

.furniture{
    display: flex;
    flex-direction: column;
    margin: 5em;
}

.furniture h5 {
    align-self: flex-start;  
}

.furniture_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;  
}

.furniture_header h5 {
    margin: 0;
}

.furniture_img {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 1em;
}

.furniture-item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.image-container {
    position: relative;
    width: fit-content;  
    height: 21em;
    margin: 0;
    padding: 2em;
    padding-bottom: 0;
}

.img-default,
.img-hover {
    width: auto;
    height: 320px;
    display: block; 
    transition: opacity 0.3s ease;
}

.img-hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.image-container:hover .img-default {
    opacity: 0;
}

.image-container:hover .img-hover {
    opacity: 1;
}

.furniture-item p {
    margin-top: 0.5em;
    margin-bottom: 0;
    padding-left: 1rem;
}

.size{
    color: #a8a8ae;
    padding-top: 0.5em;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 1rem;
}

.new{
    color: #7f0019;
    width: 39px;
    font-size: .75rem;
    line-height: 130%;
    font-weight: 400;
    border-style: solid;
    border-color: #c4c4c6;
    border-width: 1px;
    border-radius: .125rem;
    padding: .25rem .5rem; 
    margin: 8px 4px 0 1rem;
    text-align: center;
}

.price{
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    padding-left: 1rem;
}

.furniture-item a::after {
    display: none;
}

.furniture-item p:hover {
    color: #3c3c43b6;
}

.furniture-item p::after {
    display: none;
}

.seasonal{
    background-color: #fbf7f2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 0;
    font-size: 18px;
}

.seasonal img{
    width: auto;
    height: 20em;
    padding: 0.3em;
}

.stories{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 6em;
}

.stories img{
    object-fit: cover;
    width: 20em;
    height: 25em;
    padding-right: 0.4em;
}

.stories a:hover{
    color: #7f0019;
}

.footer{
    background-color: #3C3C43;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 5em;
    padding-top: 2.2em;
    line-height: 1.7;
}

.footer_block{
    width: 300px;
}

.footer h4{
    font-size: 18px;
}

.footer img{
    width: 4%;
    height: auto;
}

.footer a{
    color: white;
}

.footer ul{
    list-style: none;
    padding-left: 0;
}

.footer ul li {
    margin-bottom: 0.8em;
}

.footer input{
    height: 2.2em;
    width: 12em;
    font-size: 17px;
    border: none; 
    outline: none;  
    vertical-align: top;
}

.footer button{
    color: rgb(232, 230, 230);
    background-color: #7f0019;
    width: 2.7em;
    height: 3em;  
    border: none; 
    cursor: pointer; 
    vertical-align: top;  
    margin-left: -4px; 
}

.footer a::after {
    display: none; 
}

.footer a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.footer_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C3C43;
    color: white;
    font-size: .875rem;
    padding: 5em;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.footer_logo img{
    width: 64px;
    height: auto;
    padding-right: 2em;
    padding-left: 4em;
}

.footer_logo::before{
    content: '';
    flex: 1;  
    height: 0.09px;
    background-color: white;
}
.footer_logo::after{
    content: '';
    flex: 1;  
    height: 0.09px;
    background-color: white;
    margin-left: 4em;
}

.sale_link{
    bottom: 30px;
    left: 50%;
    top: auto;
    transform: translateX(-50%);  
    font-size: 1.1em;
    font-weight: bold;
}

@media (max-width: 768px) {

    *, *::before, *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .sticky_nav {
        position: static;
        top: unset;
        filter: none;
    }

    .sticky_nav .top {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 0.75rem;
        padding: 0.75rem 1rem;
    }

    .logo {
        padding: 0;
        justify-self: center;
    }

    .logo img {
        height: 1.6em;
        width: auto;
    }

    .search {
        border-bottom: none;
    }

    .search input {
        display: none;
    }

    .search img {
        padding: 0.5rem;
        width: 1.4rem;
    }

    .icons a:nth-child(n+4) {
        display: none;
    }

    .icons img {
        width: 1.4rem;
    }

    .icons a {
        padding: 0.5rem;
    }

    .sticky_nav .bottom {
        display: none;
    }

    .announcement {
        overflow: hidden;
        white-space: nowrap;
    }

    .announcement marquee {
        width: 100%;
    }

    .sale {
        flex-direction: column;
        padding: 3em 1em;
        gap: 2em;
        overflow-x: hidden;
    }

    .sale img {
        height: auto;
        width: 100%;
    }

    .highlights {
        padding: 2em 1em;
    }

    .highlights_scroll {
        display: flex;
        gap: 1em;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .highlights img {
        width: 16em;
        height: 16em;
        flex-shrink: 0;
    }

    .essentials {
        margin: 2em 0;
        padding: 0 1em;
        overflow-x: hidden;
    }

    .essentials img {
        width: 100%;
        height: auto;
    }

    .essentials-link {
        font-size: 1rem;
    }

    .explore {
        margin: 2em 1em;
    }

    .explore img {
        width: 100%;
        height: auto;
    }

    .furniture {
        margin: 2em 1em;
    }

    .furniture_img {
        flex-direction: column;
        gap: 2em;
    }

    .image-container {
        padding: 0;
        width: 100%;
        height: auto;
    }

    .img-default,
    .img-hover {
        width: 100%;
        height: auto;
    }

    .seasonal {
        padding: 2em 1em;
    }

    .seasonal .highlights_scroll {
        overflow-x: auto;
        gap: 1em;
    }

    .highlights_scroll a,
    .seasonal .highlights_scroll a {
        flex: 0 0 auto;  
        width: 16rem;      
    }

    .highlights_scroll img,
    .seasonal .highlights_scroll img {
        width: 100%;
        height: 16rem;
        object-fit: cover;
    }

    .stories .highlights_scroll {
        display: block;
    }

    .stories .highlights_scroll a {
        display: block;
        width: 100%;
        margin-bottom: 2em;
    }

    .stories img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .stories {
        margin: 2em 1em;
        overflow-x: hidden;
    }

    .stories img {
        width: 100%;
        height: auto;
    }

    .footer {
        flex-direction: column;
        gap: 2em;
        padding: 2em 1em;
    }

    .footer_block {
        width: 100%;
    }

    .footer_logo {
        flex-direction: column;
        text-align: center;
        gap: 1em;
        padding: 2em 1em;
    }

    .footer_logo img {
        padding: 0;
    }
}
